.back_layout_header{
  height: 50px !important;
  line-height: 50px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .collapse_icon{
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
  }
  .back_layout_header_left{
    display: flex;
    align-items: center;
  }
}
